@import "tailwindcss";

/* Custom Scrollbar Styling */
.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #15171a;
  border-radius: 20px;
  border: 3px solid transparent;
  background-clip: content-box;
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #48494a transparent;
}
